@charset "utf8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: oklab(88% 0.02 -0.04);
}

main {
    background-color: oklab(97.3% -0.003 -0.004);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 8px 24px oklab(0.30 -0.01 -0.03 / 0.06);
    border-radius: 12px;
}

.video-responsivo {
    width: 100%;
    /* O vídeo vai ocupar toda a largura do elemento pai */
    max-width: 800px;
    /* Define um tamanho máximo para não ficar gigante em telas grandes */
    aspect-ratio: 16 / 9;
    /* Calcula a altura automaticamente mantendo a proporção correta */
    height: auto;
    /* Garante que a altura respeite o aspect-ratio */
    display: block;
    /* Remove pequenos espaços em branco abaixo do iframe */
    margin: 0 auto;
    /* Centraliza o vídeo na página */
}

img.lado {
    float: right;
}